doctype html
html
  head
  body
    if !yourName && !yourPassword
      form(action="/secrets", method="post")
        label(for="yourName") Name
        input(type="text", id="yourName", name="yourName")
        label(for="yourPassword") Password
        input(type="password", id="yourPassword", name="yourPassword")
        input(type="submit")
    else
      ul(id="secrets")
      form(action="/secrets", method="post")
        label(for="yourSecret") Add Secret
        input(type="text", id="yourSecret", name="yourSecret")
        input(type="submit",value="Add")
